body{
    font-family: Helvetica, sans-serif;
    background-color: #191A19;
    color: #F8F8F8;
  }
  
h1, h3, h5 {
    color: #93C473;
}

h2, h4, h6 {
    color: #D8E9A8;
}


main {
    margin: 5rem;
}

p {
    margin-bottom: 0.5rem;
}




a {
    color: #E887A3;
    background-color: #191A19;
    text-decoration: none;
}

a:hover {
    color: #DB436E;
    background-color: #191A19;
    text-decoration: underline overline #4E9F3D;
    /*font-weight: bold;*/
}

em {
    background-color: #4E9F3D;
    color: #191A19;
    font-weight: bold;
    margin-left: 0.25rem;
    margin-right: 0.25rem;
    padding-left: 0.25rem;
    padding-right: 0.25rem;
}

em a {
    color: #E887A3;
    background-color: #191A19;
    font-weight: bold;
}

em a:hover {
    font-weight: bolder;
    background-color: #191A19;
    color: #DB436E;
    text-decoration: underline overline #4E9F3D;
}


blockquote {
    /*background: #f9f9f9;*/
    border-left: 10px solid #E887A3;
    margin: 1.5em 10px;
    padding: 0.5em 10px;
    quotes: "\201C""\201D";
  }
  blockquote:before {
    color: #DB436E;
    content: open-quote;
    font-size: 4em;
    line-height: 0.1em;
    margin-right: 0.25em;
    vertical-align: -0.4em;
  }
  blockquote p {
    /*display: inline;*/
    margin-left: 3em;
    max-width: 75%;
  }
  
  blockquote {
    color: #9ECB67;
  }


  .medium-pic {
    object-fit: contain;
    max-height: 60vh;
    margin: 1rem;
}

.medium-figure {
    text-wrap: wrap;
}